@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,400&display=swap');

html,body{
    height: 100%;
}
.container{
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}



.wrapper{
    overflow: hidden;
    min-height: 100%;
    font-family: Lato;
}
.main__cscreen{
    min-height: 100%;
    flex: 1 1 auto;
    background: url('/img/bg/bg_1.png') 0 0/ 100% 100% no-repeat;

}
.page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.header {
    position: absolute;
    width: 100%;
    top: 35px;
    // .header__row

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        @media (max-width: 767px) {
            left: 42%;
        }
        position: absolute;
        left: 47%;
        top: 0;
        
    }
}
.nav {
    ul{
        display: flex;
        padding: 0;
        li{
            list-style-type: none;
            
            margin-right: 70px;
            font-size: 13px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: #4d4959;
            a{text-decoration: none;
                color: #4d4959;}

        }
        li:nth-child(2){
            margin-right: 200px;
        }
        li:last-child{
            margin-right: 0;
        }
    }
    @media (max-width: 767px) {
        position: fixed;
        width: 100%;
        height: 100%;
        top: -1000000px;
        left: 0;
        background-color: #4d4959;
        &.active{
            top: 0;
        }
        ul{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 30%;
            li{
                padding: 0;
                margin: 0;
                &:nth-child(2),&:nth-child(3){
                    padding: 0;
                    margin: 0;
                    margin-top: 20px;
                }
                &:last-child{
                    margin-top:20px ;
                }
                a{
                    font-size: 30px;
                    color: aqua;}
            }
        }
    }

    // .nav__logo

  
}
.nav__burger{
    @media(max-width:767px){
        display: block;
        position: absolute;
        top: 18px;
        right: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span{top: 8px;left: 0px; position: absolute; width: 100%; height: 2px;background-color: #ffff;
            &:first-child{top: 0;}
            &:last-child{top: auto; bottom: 0;}
        }
        &.active{
            span{
                &:first-child{rotate:(-45deg); top:8px}
                &:last-child{rotate: (45deg);bottom: 8px;}
            }
        }
    }
}

.generation {
    padding: 117px 0 142px 0;
    // .generation__block

    &__block {
        
    }
    @media (max-width:900px) {
        padding: 80px 0 80px 0;
    }
    @media (max-width:600px) {
        padding: 35px 0 35px 0;
    }
}
.container {
}
.block {
    text-align: center;
    // .block__icon

    &__icon {
    }

    // .block__title

    &__title {
        font-family: Lato;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #353738;
        margin: 35px 0;
    }

    // .block__text

    &__text {
        font-family: Lato;
        font-size: 18px;
        line-height: 34px;
        font-weight: 400;
        color: #848789;
    }
}

.company {

    // .company__row

    &__row {
        display: flex;
        
    }

    // .company__column

    &__column {
        flex: 0 1 33.333%;
    }

    // .company__column-b

    &__column-b {
        flex: 0 1 66.667%;
        background:  url('/img/bg/b2.png') 0 0/cover no-repeat, rgba(100,194,158,1);
        display: flex;
        align-items: center;
        justify-content: center;

        
    }
    

    // .company__item

    &__item {
        
        
    }

    // .company__block

    &__block {
        padding: 70px 65px 55px 65px;
        ;
    }

    // .company__image

    &__image {
        width: 100%;
        img{
            width: 100%;
        }
        
    }
}
.item {

    // .item__icon

    &__icon {

    }

    // .item__image

    &__image {
        
        
    }
}
.block__text_j{
    text-align: justify;
    font-size: 16px;
    
}
@media(max-width:1150px){
    .company__row {
        flex-direction: column;
    }
    .company__block{
        padding: 50px 40px 30px 40px ;
    }
}
.backgoundbig{
    background: url('/img/bg/bgibg1.png') 0 0/cover no-repeat;
}

.first-image{
    background: url('/img/bg/bg13.png') 0 0/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-image{
    background: url('/img/bg/bg14.png') 0 0/ cover no-repeat;
}


.shop {

    // .shop__block

    &__block {
    }
}
.shop-block {
    @media (max-width:1150px) {
        &__row {
            display: flex;
            flex-direction: column;
        }
        &__image-row {
            img{
                width: 100%;
                height: 700px;
                
            }
            
        }
    }   
    // .shop-block__row

    &__row {
        display: flex;
    }

    // .shop-block__seat

    &__seat {
        flex: 0 1 33.333%;
    }

    // .shop-block__upper

    &__upper {
        display: flex;
    }

    // .shop-block__image

    &__image {
        flex: 0 1 50%;
        img{
            width: 100%;
        }
    }

    // .shop-block__down

    &__down {
        img{
            width: 100%;
        }
    }

    // .shop-block__bycille

    &__bycille {
        flex: 0 1 33.333%;
    }

    // .shop-block__image-row

    &__image-row {
        img{
            width: 100%;
            
        }
        
    }
}

.shop-block {


    // .shop-block__down-link-icon

    &__down-link-icon {
        position: relative;
    }
}
.link-icon {

    // .link-icon__logo

    &__logo {
        position: absolute;
        z-index: 999;
        left: 45%;
        top: 40%;
    }
    &__text{
        position: absolute;
        z-index: 999;
        left: 41%;
        top: 55%;
        
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;

    }
}

.footer-shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // .footer-shop__btn
    padding: 75px 0;
    @media(max-width:767px){
        padding: 45px 0;
    }
    background-color: #282f35;
    &__btn {
    }
}
.discover {
    display: block;
    width: 300px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    span{
        font-family: Lato;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff

    }
}
.staing {
    padding: 109px 0 111px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // .staing__form

    &__form {
    }

    // .staing__logo

    &__logo {
        text-align: center;
    }

    // .staing__row

    &__row {
        display: flex;
    }

    // .staing__inp

    &__inp {
        width: 400px;
        height: 69px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        font-style: italic;
        color: #929292;
        padding: 0px 0 0 10px;
        margin-right: 8px;
        border: 1px solid rgba($color: #000000, $alpha: .2)
    }

    // .staing__btn

    &__btn {
        width: 126px;
        height: 70px;
        background-color: #64c29e;
        border:none;
        font-family: Lato;
        font-size: 24px;
        line-height: 24px;
        font-weight: 300;
        color: #ffffff;
        text-transform: uppercase;
    }
}
.title {
    margin: 39px 0 35px 0;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}

.footer {
    background-color: #f7f7f7;
    // .footer__content

    &__content {
        display: inline;
        justify-content: space-between;
        align-items: center;
        padding: 99px 0 103px 0;
    }

    // .footer__location

    &__location {
    }

    // .footer__title

    &__title {
        font-size: 16px;
        line-height: 17px;
        font-weight: 700;
        color: #848789;
    }

    // .footer__about

    &__about {
        font-size: 13.9px;
        font-weight: 400;
        font-style: italic;
        color: #848789;
    }

    // .footer__icon

    &__icon {
    }

    // .footer__icon-row

    &__icon-row {
    }

    // .footer__elem

    &__elem {
    }

    // .footer__yebo-row

    &__yebo-row {
    }

    // .footer__image

    &__image {
    }
    &__text
}


